/**
 * Animations
 */

@keyframes tmGrowShrink {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(1.55);
		opacity: 0;
	}
}

@keyframes tmSpin {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

@keyframes tmSpinReverse {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(-360deg)
	}
}

@keyframes tmFadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 50%, 0);
		transform: translate3d(0, 50%, 0)
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

@keyframes tmDashAnim {
	0% {
		stroke-dashoffset: 2000;
	}

	50% {
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dashoffset: 2000;
	}
}